* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EFEFEF;
}

#heading {
    text-align: center;  
    color: darkred;
    margin-bottom: 0px;
}

#main {
    font-size: 100px;
}

#tag-line {
    font-size: 35px;
    font-family: 'Ysabeau Office', sans-serif;
}

.home-image {
    display: block;
    height: 650px;
    width: 1300px;
    border-radius: 8px;
    border: darkred solid 3px;
    margin: 20px auto;
}

.intro p {
    color: darkred;
    margin: 20px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}

.last {
    border-bottom: darkred solid 2px;
    padding-bottom: 1em;
}

.first {
    /* border-top: darkred solid 2px; */
    padding-top: 1em;
}

.rec-head {
    text-align: center;
    font-size: 80px;
    color: darkred;
    margin-bottom: 50px;
}

.container {
    position: relative;
}

.recipe img {
    display: block;
    opacity: 0.8;
    width: 1100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: darkred solid 3px;
}

.rec-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rec-title a {
    font-size: 100px;
    text-decoration: none;
    color: white;
    font-family: 'Caudex', serif;
    -webkit-text-stroke: darkred 1px;
}

.btn {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 35em;
}
.btn a {
    font-size: 40px;
    color: darkred;
    text-decoration: none;
    border: darkred solid 2px;
    padding: 3px 20px;
    font-family: 'Quicksand', sans-serif;
}

.btn a:hover {
    background-color: darkred;
    color: white;
}

.credit {
    background-color: darkred;
    margin-top: 55px;
}

.credit p {
    display:inline-block;
    color: white;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 26em;
}

#dark {
    margin-top: 10px;
}

#dark a{
    margin-left: 1300px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.credit a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.credit a:hover {
    color: rgb(207, 202, 202)
}