* {
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;  
    background-color: white;  
    margin: 10px;
}

#main {
    font-size: 100px;
    color: darkred;
    -webkit-text-stroke: black 1px;
}

#tag-line {
    color: darkred;
    font-size: 35px;
    margin-bottom: 5px;
    font-family: 'Ysabeau Office', sans-serif;
}

.home-image {
    display: block;
    height: 650px;
    width: 1300px;
    border-radius: 8px;
    border: darkred solid 3px;
    margin: 20px auto;
}

p {
    color: darkred;
    margin: 20px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}

.last {
    border-bottom: darkred solid 2px;
    padding-bottom: 1em;
}

.first {
    border-top: darkred solid 2px;
    padding-top: 1em;
}


