* {
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;  
    background-color: white;  
    margin: 10px;
}

#main {
    font-size: 100px;
    color: darkred;
    -webkit-text-stroke: black 1px;
}

#tag-line {
    color: darkred;
    font-size: 30px;
    margin-bottom: 5px;
}

.home-image {
    display: block;
    height: 650px;
    width: 1300px;
    border-radius: 8px;
    border: darkred solid 3px;
    margin: 20px auto;
}


