* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#heading {
    text-align: center;
    color: white;
}

#main {
    font-size: 100px;
}
#tag-line {
    font-size: 35px;
    font-family: 'Ysabeau Office', sans-serif;
}

.recipe-image {
    display: block;
    height: 700px;
    width: 1200px;
    margin: 20px auto;
    border: white solid 3px;
    border-radius: 8px;
}

.description {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: white solid 2px;
    color: white;
    margin: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.min-head {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: 'Caudex', serif;
}

ul, ol {
    color: white;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 45px;
}

.buttons {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 25em;
}

.second {
    margin-left: 1em;
}

.buttons a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    border: white solid 2px;
    padding: 3px 20px;
    font-family: 'Quicksand', sans-serif;
}

.buttons a:hover {
    background-color: white;
    color: black;
}

.credit {
    background-color: white;
    margin-top: 55px;
}

.credit p {
    display:inline-block;
    color: black;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 26em;
}

.credit a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.credit a:hover {
    color: rgb(48, 47, 47)
}

#dark {
    margin-top: 10px;
}

#dark a{
    margin-left: 1300px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

